# --- CONFIGURACIÓN DE TWITCH ---
# [Vercel & Local] Estos valores los obtienes de https://dev.twitch.tv/console
CLIENT_ID=tu_client_id
CLIENT_SECRET=tu_client_secret

# [Vercel & Local] Tu nombre de usuario de Twitch (ej: ponss17)
CHANNEL_LOGIN=tu_usuario_twitch

# [Solo Vercel] En Local se guarda solo al vincular. 
# En Vercel, debes copiarlo de la página de éxito tras vincular.
USER_ACCESS_TOKEN=

# [Opcional] Una clave para proteger algunos endpoints internos si lo deseas
ENDPOINT_PASSWORD=


# --- CONFIGURACIÓN DE VALORANT (Opcional) ---
# [Vercel & Local] Tu API KEY de https://api.henrikdev.xyz/
API_KEY=tu_api_key_henrikdev

# [Vercel & Local] true para activar, false para descativar
ENABLE_VALORANT=true

# [Opcional] Nombre y Tag por defecto si no se pasan por URL
VALORANT_USER=NombreJugador
VALORANT_TAG=1234
VALORANT_REGION=na
VALORANT_CACHE_TTL=15
